.bgcontainergreen-active{
    background-color: #06ce38;
    border:2px solid #000;
    border-radius: 50%;
    padding: 20px;
    width:150px;
    margin: 10px;
    height:100px;
    transition: background-color 1s;
}
.bgcontainergreen{
    background-color: #080808;
    transition: background-color 1s;
    border:2px solid #000;
    border-radius: 50%;
    padding: 20px;
    width:150px;
    margin: 10px;
    height:100px;
}